.bash_history
.wget-hsts
.dotnet/corefx/cryptography/crls/d16da424.cbeb964c.crl
.dotnet/corefx/cryptography/crls/7462804f.d5a68194.crl
.dotnet/corefx/cryptography/crls/75d1b2ed.de05bb98.crl
.dotnet/corefx/cryptography/crls/7abcc12f.dea36fd7.crl
.cache/typescript/5.1/package.json
.cache/motd.legal-displayed
error.log
